/*fonts impt*/

@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');
.navbar {
    font-family: 'Alef', sans-serif;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: rgb(42, 88, 69);
}


/*head banner*/

.nav-link:hover {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 800;
    color: rgb(190, 190, 190);
    overflow: hidden;
    background: linear-gradient(to right, rgb(42, 88, 69), rgb(97, 151, 130) 50%, rgb(255, 255, 255) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 2000ms ease;
    text-decoration: none;
}

a:hover {
    background-position: 0 100%;
}

.centerb {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


/*cards alignment*/

.row {
    text-align: center;
    width: 70%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1.5%;
}


/*cards edit*/

#cards {
    color: rgb(85, 84, 84);
    font-family: 'Alef', sans-serif;
    justify-content: space-evenly;
}

h5 {
    font-weight: bold;
}


/*horizontal rule*/

hr {
    width: 60%;
}


/*generation main*/

#generation {
    font-family: 'Alef', sans-serif;
    background-color: rgba(179, 179, 179, 0.329);
    color: rgb(68, 68, 68);
    border-radius: 2.5%;
}

.lead {
    font-family: 'Alef', sans-serif;
}


/*carousel*/

.container {
    width: 50%;
    margin-top: 1.5%;
}


/*trademark*/

#trademark {
    text-align: center;
    margin-top: 1%;
    font-family: 'Alef', sans-serif;
    font-size: 12px;
    margin-bottom: 2.5%;
}


/*linkedin,github,email*/

footer {
    margin-top: 5%;
    text-align: center;
}

#icons {
    justify-content: center;
    margin-top: 5%;
}

span {
    text-decoration: none;
}


/*About me*/

#g2k {
    width: 83.5%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Alef', sans-serif;
    border-radius: 2.5%;
    margin-top: 2.5%;
    color: rgb(68, 68, 68);
}


/*ART*/

.lead {
    font-size: 13px;
}

.row {
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 40%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 1050px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.imagebox {
    position: relative;
    height: auto;
    width: auto;
    float: none;
    justify-content: space-around;
}

.imagebox img {
    vertical-align: middle;
    height: 50%;
    width: 100%;
}

.caption {
    width: 250px;
    height: 150px;
    background: rgb(36, 87, 66);
    opacity: 0;
    position: absolute;
    left: 0;
    top: 40px;
}

.imagebox:hover .caption {
    opacity: 0.7;
    text-align: left;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Alef', sans-serif;
    padding: 30px;
}

#myartwork,
#proj {
    width: 30%;
    text-align: center;
    font-family: 'Alef', sans-serif;
}


/*Projects*/

h5 {
    text-align: center;
    margin-top: 2.5%;
}


/*first gif*/

#prjct1 {
    text-align: center;
}


/*jumbotron*/

#proj {
    margin-top: 2.5%;
    text-align: center;
    font-family: 'Alef', sans-serif;
}

.jumbotron {
    background-color: rgba(128, 128, 128, 0.411);
}


/*jumbotron*/

#proj2 {
    margin-left: 50%;
    text-align: center;
    font-family: 'Alef', sans-serif;
    width: 50%;
    margin-top: 2.5%;
}


/*2nd gif*/

#prjct2 {
    text-align: center;
}

#jumbo {
    width: 90%;
    font-family: 'Alef', sans-serif;
}


/*arrow to top*/